html {
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body,
main,
.image-container,
form,
.names,
header,
.verification,
.verification-methods,
.verification-methods-text,
.verification-methods-input,
.password,
.confirm-password,
.legal,
.continue-and-login,
footer {
  display: flex;
}

html,
body,
form,
header,
.verification-methods,
.password,
.confirm-password,
.continue-and-login,
footer {
  align-items: center;
}

html,
body,
.image-container,
form,
header,
.verification-methods,
.continue-and-login,
footer {
  justify-content: center;
}

html,
body,
main,
h1,
input[type="radio"] {
  margin: 0;
}

html,
body,
main,
button[type="button"] {
  padding: 0;
}

html,
body,
main,
.image-background,
.image,
.colour-background {
  height: 100%;
}

html,
body,
main,
.image,
footer {
  width: 100%;
}

body {
  background-image: radial-gradient(
    circle at center,
    rgba(50, 50, 50, 1),
    rgba(0, 0, 0, 1)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
select,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {
  align-items: flex-start;
  justify-content: flex-start;
}

.image-background {
  justify-content: flex-start;
  width: 40%;
}

.colour-background {
  background-image: url("background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}

form,
.legal,
.continue-and-login {
  gap: 8px;
}

form,
.verification,
.verification-methods-text,
.verification-methods-input,
.legal,
.continue-and-login {
  flex-direction: column;
}

h1 {
  font-size: 40px;
  letter-spacing: -2px;
  padding: 16px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

h1,
input,
input[type="text"]::placeholder,
select,
option,
.verification-method,
.verification-methods,
input[type="password"],
.terms-and-conditions-text,
.data-rates-text,
.privacy-poicy-text,
.data-text,
.continue,
.login {
  font-weight: 900;
}

h1,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgba(207, 184, 160, 1);
}

input,
input[type="text"]::placeholder,
select,
option,
input[type="password"],
.login {
  font-size: 16px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

input[type="text"],
select,
option,
.verification-method,
.verification-methods,
input[type="password"],
.terms-and-conditions-text,
.privacy-poicy-text,
.data-text,
.login-text {
  color: rgba(255, 225, 200, 1);
}

input[type="text"],
select,
input[type="password"],
button[type="submit"] {
  transition: border-color 1s ease, all 1s ease-in-out;
}

input[type="text"].invalid {
  border-bottom-color: rgba(255, 0, 0, 1);
}

input[type="text"].valid {
  border-bottom-color: rgba(0, 255, 0, 1);
}

input[type="text"],
select,
input[type="password"] {
  background-color: transparent;
  border-bottom-color: rgba(207, 184, 160, 1);
  border-bottom-width: 2px;
  border-left: none;
  border-radius: 3px;
  border-right: none;
  border-top: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 8px;
  width: 250px;
}

input[type="text"]:hover,
select:hover,
button[type="submit"]:hover,
input[type="password"]:hover {
  transform: scale(1.025);
}

input[type="text"]:focus,
select:focus,
button[type="submit"]:focus,
input[type="password"]:focus {
  transform: scale(1.05);
}

select {
  height: 40px;
  width: 266px;
}

.names {
  gap: 16px;
}

option {
  background-color: rgba(51, 51, 51, 1);
  padding: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.verification,
.verification-methods,
.verification-methods-text,
.verification-methods-input {
  gap: 12px;
}

.phone-number-message,
.legal,
button,
.login {
  color: rgba(99, 79, 61, 1);
}

.verification,
.legal,
.login {
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  max-width: 366px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-color: rgba(99, 79, 61, 1);
  border-radius: 50%;
  border-style: solid;
  border-width: 2.4px;
  display: grid;
  height: 18.4px;
  place-content: center;
  transform: translateY(-1.2px);
  width: 18.4px;
}

input[type="radio"]::before {
  border-radius: 50%;
  box-shadow: inset 16px 16px rgba(99, 79, 61, 1);
  content: "";
  height: 10.4px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  width: 10.4px;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline-color: rgba(99, 79, 61, 1);
  outline-offset: max(2px, 2.4px);
  outline-style: solid;
  outline-width: max(2px, 2.4px);
}

input[type="radio"],
button[type="button"],
.terms-and-conditions-text,
.privacy-poicy-text,
.data-text,
button,
.login-text {
  cursor: pointer;
}

button[type="button"] {
  background-color: transparent;
  border: none;
  outline: none;
}

.password,
.confirm-password {
  position: relative;
}

.password-input,
.confirm-password-input {
  flex: 1;
}

.toggle-password,
.toggle-confirm-password {
  left: calc(100% + 10px);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.terms-and-conditions-text:hover,
.privacy-poicy-text:hover,
.data-text:hover,
.login-text:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.legal,
.continue-and-login {
  margin-top: 6px;
}

button[type="submit"] {
  background-color: rgba(255, 225, 200, 1);
  border-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  height: 60px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  width: 366px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

#github-logo {
  filter: invert(0%);
  height: 1.25%;
  opacity: 6%;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
  width: 1.25%;
}

colours {
  color: #917760;
  color: #aa8f73;
  color: #8b6544;
  color: #5b381f;
}
